body {
  font-family: "League+Spartan#:~:text=font_download-,Fonts,-language",
    sans-serif;
  background-color: rgb(248, 250, 252);
}
p {
  padding: 0px;
  margin: 0px;
}

.ava-nome {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.div-1 {
  margin: 20px;
  width: 350px;
}
.div-2,
.div-3,
.div-4 {
  width: 350px;
  height: 70px;
  background-color: aliceblue;
  opacity: 0.5;
}
.sub-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.div-5,
.div-6,
.div-7 {
  display: grid;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  width: 350px;
  height: 200px;
  background-color: hsl(300, 43%, 22%);
  color: aliceblue;
}
.div-6 {
  margin-top: 15px;
}
.div-7 {
  margin-top: 30px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-anne,
.avatar-ire,
.avatar-col {
  display: flex;
}
@media (max-width: 375px) {
  .div-1 {
    text-align: center;
  }
  .sub-container {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50%; /* Duas colunas por padrão */
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
}

@media (max-width: 375px) {
  .box {
    width: 100%; /* Uma coluna quando a largura da tela for menor ou igual a 375px */
  }
}
